body{
    header{
        box-shadow: 0px 1px 25px rgb(255,255,255);
        ul{
            a{
                text-align: center;
                text-decoration: none;
                list-style: none;
                color: blue;
                font-weight: bold;
            }
            text-align: center;
            gap: 50px;
            margin-top: 70px;
            margin-left: 100px;
            font-size: 27px;
            a:hover{
                border-bottom: solid red;
            }
        }
    }
}

// Section 1 //

.section1{
    .d-flex{
        .h{
            margin-top: 60px;
        }
    }
}

// Section 2//

.section2{
    background-color: rgb(119, 119, 255);
    .d-flex{
        margin-top: 30px;
    }
    .first{
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        margin: 20px;
        padding: 15px;
    }

    .second{
        background-color: rgb(255, 255, 255);
        margin: 20px;
        padding: 15px;
        border-radius: 20px;
    }

    .theerd{
        background-color: rgb(255, 255, 255);
        margin: 20px;
        padding: 15px;
        border-radius: 20px;
    }
}

.section3{
    color: blue;
}

// Footer//

.foter{
    .icons{
        margin-left: 600px;
        gap: 100px;
        margin-top: 50px;
        i{
            color: blue;
        }
    }
}